@charset 'UTF-8'; 

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gabarito:wght@400..900&family=Luxurious+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.gabarito {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}


.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.luxurious-script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gabarito", sans-serif;
}

body {
    background-color: rgb(253, 253, 253);
    height: 100vh;
}
 
.menu {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 0px 4%;
}

header > .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 a > img {
    width: 140px;
}

header  a  {
    display: inline-block;
    text-decoration: none;
    color: rgb(95, 95, 95);
    font-size: 1.4em;
    font-weight: 700;
}

header li a:hover::after {
    color: rgb(43, 35, 35);
    transform: scale(1.05);
    transition: 0.2s;
}



nav ul {
    list-style-type: none;

}

ul li {
    display: inline-block;
    padding: 0 40px;
} 

.botao-contato button {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(231, 209, 196);
    border: 0;
    border-radius: 40px;
    cursor: pointer;
}

div a button:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#foto-perfil {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#perfil {
    width: 240px;
    height: 240px;
    box-shadow: rgba(255, 0, 200, 0.533) 2px 3px 25px;
    object-fit: cover;
    border-radius: 50%;
}

#text {
    text-align: justify;
    font-size: 1.3em;
}

#text > h1 {
    font-size: 2.5em;
    font-family: "Work Sans", sans-serif;
}

#text > h2 {
    font-family: "Luxurious Script", cursive;
    font-weight: 300;
    font-size: 2.6em;
    padding-left: 30px;
}

#text > p {
    padding-bottom: 30px;
}

#img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding-top: 25px;
}

.text-img {
    width: 77px;
    
}

#container-skills {
    max-width: 960px;
    margin: 0px auto;
    padding: 1rem;
    padding-top: 200px;
}

#skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-top: 2rem;
    justify-items: center;
    gap: 2rem;
   
}

.img-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 6rem;
    height: 6rem;
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 8px;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.2s;
    
}

.img-skills:hover {
    transform: scale(1.05);
    transition: 0.2s;
} 

.section {
    padding: 3rem 2rem;
}

.container {
    max-width: 960px;
    margin: 0px auto;
    padding: 1rem;
}

div.container > h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.container > h1 {
    font-size: 3em;
    text-align: center;
}

.projetos-grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    
}

.card-projeto {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
}

.card-projeto:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.projeto-img {
    width: 100%;
    height: auto;
    display: block;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem; 
 }
    
.btns a {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}




