@charset 'UTF-8'; 

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gabarito:wght@400..900&family=Luxurious+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.gabarito {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}


.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.luxurious-script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gabarito", sans-serif;
}

body {
    background: linear-gradient( to bottom right, #FFE6D4, #FFC69D, #f391a3 );
    background-size: cover;
    height: 100vh;
}
 
.menu {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 0px 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}


header  a  {
    display: flex;
    margin: 30px;
    text-decoration: none;
    color: rgb(95, 95, 95);
    font-size: 1.4em;
    font-weight: 700;
}

header li a:hover {
    color: rgb(19, 15, 15);
    transform: scale(1.05);
    transition: 0.2s;
    text-decoration: underline rgb(241, 92, 255);
}

nav ul {
    list-style-type: none;

}

a.idioma {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;

}

ul li {
    display: inline-block;
    padding: 0 40px;
} 

#sobreat {
    color: rgb(19, 15, 15);
    transform: scale(1.05);
    transition: 0.2s;
    text-decoration: underline rgb(241, 92, 255);
}

#skillsat {
    color: rgb(19, 15, 15);
    transform: scale(1.05);
    transition: 0.2s;
    text-decoration: underline rgb(241, 92, 255);
}

#projetosat {
    color: rgb(19, 15, 15);
    transform: scale(1.05);
    transition: 0.2s;
    text-decoration: underline rgb(241, 92, 255);
}

#container-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 40px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#text {
    text-align: justify;
    font-size: 1.3em;
}

#text > h1 {
    font-size: 2.5em;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}

#text > h1::after {
    content: '⎸';
    color: rgb(105, 105, 105);
    margin-left: 6px;
    animation: pisca .7s infinite;

}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#text > h2 {
    font-family: "Luxurious Script", cursive;
    font-weight: 300;
    font-size: 2.6em;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-top: 40px;

}

#text > p {
    padding-bottom: 30px;
    text-align: justify;
    padding-left: 20px;
}

div#img-text {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    padding: 10px;
   
}

.text-img {
    width: 67px;
    
}

.text-img:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

#skillsh1 {
    text-align: center;
}

.main {
    margin-top: 20%
    
}

.main  p {
    margin-bottom: 5px;
    margin-left: 25%;
    margin-top: 3%;
}

.container2 {
    width: 50%;
    background-color: rgb(187, 187, 187);
    margin-left: 25%;
    border-radius: 5px;
}

.skills1 {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 5px;
}

.html {
    width: 90%;
    background-color: plum;
}

.css {
    width: 60%;
    background-color: plum;
}

.js {
    width: 30%;
    background-color: plum;
}

.section {
    padding: 3rem 2rem;
}

.container {
    max-width: 960px;
    margin: 0px auto;
    padding: 1rem;
    margin-top: 20px;
}

div.container > h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.container > h1 {
    font-size: 3em;
    text-align: center;
}

.projetos-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}

.card-projeto {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    width: 300px;
    margin-top: 20px;
}

.card-projeto:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.projeto-img {
    width: 105%;
    height: auto;
    display: block;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem; 
 }
    
.btns a {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}




